.addNavLinks {
  color: black;
  padding: 10px;
}

.addNavLinks:hover {
  color: red;
  text-decoration: none;
}

.homeLink {
  border-right: 1px solid lightgray;
}

.navDiv {
  display: flex;
  justify-content: flex-end;
}
