.navigation-wrapper{
    overflow: hidden;
    background-color: Cornsilk;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    display: flex;
    justify-content: space-around;
}