.home-container {
    margin: 0 auto;
    max-width: 800px;
}

.home-container .logo-container {
    padding: 20px 10px;
}

.home-container .logo-container .logo {
    width: 600px;
}

.home-container p {
    padding: 0 30px;
    display: flex;
    text-align: justify;
}