* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
.SmurfForm {
  margin: 1rem;
}
.SmurfForm form {
  display: flex;
  justify-content: center;
}
.SmurfForm__input {
  padding: 0.25rem;
  margin: 0.25rem;
  border: 1px solid #ccc;
}
.SmurfForm__button {
  cursor: pointer;
  user-select: none;
  padding: 0.25rem;
  margin: 0.25rem;
  background: white;
  border: 1px solid #ccc;
}
.Smurfs {
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Smurfs__Smurf {
  cursor: pointer;
  width: 500px;
  margin: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}
