@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v5/pxiEyp8kv8JHgFVrJJfedw.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
body {
  background: #f6f3ea;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.App {
  text-align: center;
}
.red {
  color: #fc3131;
}
.blue {
  color: #37c6ff;
}
.SmurfForm {
  margin: 1rem;
}
.SmurfForm form {
  display: flex;
  justify-content: center;
}
.SmurfForm__input {
  padding: 0.25rem;
  margin: 0.25rem;
  border: 1px solid #ccc;
}
.SmurfForm__button {
  cursor: pointer;
  user-select: none;
  padding: 0.25rem;
  margin: 0.25rem;
  background: white;
  border: 1px solid #ccc;
}
.Smurfs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Smurfs__Smurf {
  cursor: pointer;
  width: 500px;
  margin: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: white;
}
.nav {
  display: flex;
  justify-content: center;
}
.nav__link {
  margin: 1rem;
  padding: 0.25rem 0.5rem;
}
.nav .active {
  position: relative;
}
.nav .active::before {
  position: absolute;
  content: "/";
  display: block;
  top: 4px;
  bottom: -8px;
  left: -5px;
  right: 100;
  color: #37c6ff;
}
.nav .active::after {
  position: absolute;
  content: "/";
  display: block;
  top: 4px;
  bottom: -8px;
  left: -1px;
  right: 100;
  color: #fc3131;
}
