.smurfs {
  padding: 30px 0;

  h1 {
    font-size: 8rem;
    font-weight: bold;
    text-shadow: -1px -1px 0 dodgerblue, 1px -1px 0 dodgerblue,
      -1px 1px 0 dodgerblue, 1px 1px 0 dodgerblue;
    color: white;
    margin-bottom: 40px;
  }

  .link-container {
    text-decoration: none;
    color: white;
  }
  .smurf {
    width: 60%;
    margin: 0 auto;
    border: 1px solid navy;
    box-shadow: -1px 1px 3px black;
    margin-bottom: 20px;
    padding: 20px 0;
    background: dodgerblue;
    color: white;

    a,
    a:visited,
    h3,
    p {
      color: white;
      text-decoration: none;
      font-size: 5rem;
      text-shadow: -1px 1px 3px black;
      padding: 10px;
    }

    p {
      font-size: 3rem;
      padding: 5px 0;
    }
  }
}
