.App {
  text-align: center;
  font-size: 1.6rem;
}
header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid #222;
}
header a {
  font-size: 2rem;
  text-decoration: none;
}
.active {
  font-weight: bold;
}
.Smurfs ul {
  padding: 0;
}
.SmurfForm {
  margin-top: 15px;
} 

.Smurf {
  position: relative;
  width: 50%;
  margin: 0 auto;
}
.delete-btn {
  position: absolute;
  font-size: 3rem;
  right: 25%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.delete-btn:active {
  transform: translateY(calc(-50% + 2px));
} 