.App {
  text-align: center;
  width: 800px;
  margin: 0 auto;
}
a{
  color:black;
  text-decoration: none;
}
nav{
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
nav a{
  width: 100px;
  padding: 10px;
  margin: 20px;
  border: 1px solid black;
}
nav a:hover{
  background: black;
  color: white;
}
.Smurf{
  border: 1px solid blue;
}
