.App {
    text-align: center;
}

.SmurfForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.input-container input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    margin: 20px;
}

nav {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
}

.smurf-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 200px;
    height: 250px;
    margin: 20px;
    margin: 0 auto;
    margin-top: 20px;
}