.App {
  text-align: center;
  box-sizing: border-box;
  font-family: Raleway;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: navy;
  padding: 20px 30%;
}

.nav-link {
  text-decoration: none;
  color: azure;
}

.welcome {
  color: navy;
}

.smurfs-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.smurfs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.smurf-card {
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 4px 4px 8px 2px gray;
}

.smurf-name {
  text-decoration: none;
  width: 80%;
  color: black;
  padding: 0px 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
}

.smurf-form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.smurf-form input {
  width: 100%;
  height: 30px;
  font-size: 1em;
  margin: 10px 0px;
  padding: 5px 0px 5px 10px;
}

.btn {
  margin: 10px;
  width: 50%;
  height: 50px;
  border: none;
  background-color: navy;
  color: azure;
  font-size: 1em;
  border-radius: 5px;
}

.delete {
  background-color: tomato;
  width: 25%;
}

.update-delete {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.single-smurf {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}