* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
  background: rgba(98, 204, 253, 0.05);
  box-shadow: 0 400px rgba(98, 204, 253, 0.05);
}
/* Whole App Styling */
.whole-app {
      width: 100%;
      display: flex;
      flex-flow: column;
      align-items: center;
}

/* Header  */
.header {
  max-width: 500px;
  margin: 30vh;
  color : rgb(243, 43, 210);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.header .nav-link {
  margin: 20px 0;
  max-width: 200px;
}


/* Navigation  */
.nav-container {
  display: inline-flex;
  margin: 2vh 0;
}

.nav-link {
  margin: 10px 20px;
  padding: 7px 12px;
  text-decoration: none;
  border-radius: 4px;
  background: white;
  box-shadow: 2px 2px rgba(98, 205, 253, 1);
  color: rgb(19, 133, 185)
}

.community-policy {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
  color: lightgray;
}

.nav-link:hover {
  background: rgba(98, 205, 253, 1);
  color: white;
  box-shadow: 2px 2px white;
}


/* Smurf List */
.smurf-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 2vh 0 6vh;
}

.smurf-list h1, ul {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.smurf-list h1 {
  display: flex;
  justify-content: center;
  color: rgb(243, 43, 210);
  text-shadow: 2px 1px rgba(98, 205, 253, 1);
}

.smurf-list ul {
  text-align: left;
}

/* Smurf */

.smurf {
  width: 100%;
  max-width: 300px;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  background: rgba(98, 205, 253, 0.3);
  color: rgb(17, 80, 109);
  box-shadow: rgba(98, 205, 253, 1);
}

.smurf h3 {
  color: white;
  text-shadow: 2px 1px 2px rgb(17, 80, 109);
}

/* Smurf form */

.addsmurf {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.addsmurf h1 {
    color: rgb(243, 43, 210);
    text-shadow: 2px 1px rgba(98, 205, 253, 1);
}

.addsmurf-form {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  margin: 20vh;
  border-radius: 4px;
  background: white;
  box-shadow: 4px 4px rgba(98, 205, 253, 1);
}

.addsmurf-form input, textarea {
  width: 100%;
  padding: 10px 7px;
  margin-bottom: 15px;
  font-size: 14px;
  color: rgb(17, 80, 109);
  border-radius: 4px;
  border: 1px solid rgba(98, 205, 253, 1);
  box-shadow: 2px 2px rgba(98, 205, 253, 1);
}

.addsmurf-form input:focus, textarea:focus {
  outline: none;
}

.addsmurf-form-button {
  display: inline-flex;
  width: 50%;
  max-width: 110px;
  padding: 10px 5px;
  margin: 5px 0;
  text-decoration: none;
  font-size: 14px;
  color: rgb(17, 80, 109);
  background: white;
  border-radius: 4px;
  border: 1px solid rgba(98, 205, 253, 1);
  box-shadow: 2px 2px rgba(98, 205, 253, 1);
}

.addsmurf-form-button:hover {
  cursor: pointer;
  background: rgb(243, 43, 210);
  color: white;
}
