.App {
  text-align: center;
}

.smurfList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 20px auto;
}

.smurfs {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px 0;
}

.smurfs:first-child {
  border-top: 1px solid black;
}

.smurfs_name {
  width: 10%;
  margin: 0 40px;
}

.smurfs_age {
  width: 10%;
  margin: 0 40 px;
}

.smurfs_height {
  width: 20%;
  margin: 0 40px;
}

.input {
  border: 2px solid red;
  border-radius: 4px;
  text-align: center;
  width: 250px;
  margin: 0 5px;
  height: 25px;
}

.input:focus {
  outline: none;
  border: 2px solid rgb(47, 154, 216);
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
}

.button:hover {
  cursor: pointer;
}

.button-add {
  background-color: rgb(2, 138, 184);
}

.button-add:hover {
  background-color: rgb(2, 100, 133);
}

.button-save {
  background-color: rgb(174, 182, 58);
}

.button-save:hover {
  background-color: rgb(107, 112, 36);
}

.button-return {
  background-color: rgb(30, 126, 43);
}

.button-return:hover {
  background-color: rgb(27, 116, 39);
}

.button-update {
  background-color: rgb(207, 143, 24);
}

.button-update:hover {
  background-color: rgb(150, 105, 22);
}

.button-delete {
  background-color: rgb(196, 58, 24);
}

.button-delete:hover {
  background-color: rgb(145, 46, 21);
}

ul {
  padding: 0;
}