.App {
  text-align: center;
  font-size: 1.6rem;
}
header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid #222;
}
header a {
  font-size: 2rem;
  text-decoration: none;
}
.SmurfForm {
  margin-top: 20px;
}