.App {
  text-align: center;
}

.SmurfCard {
  margin: 10px auto;
  padding: 0px;
  width: 50%;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.SmurfForm {
  margin: 10px auto;
  padding: 20px;
  width: 50%;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Smurfs ul {
  padding: 0px;
}

.Smurfs {
  margin: 10px auto;
}

iframe {
  width: 100%;
  height: 700px;
}