body, html {
    background: #288ed7;
    font-family: "Boogaloo", cursive;
    color: white;
}

.App {
  text-align: center;

  color: white;
  text-align: center;
  margin: 0;
}

.header {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #CF0C0C;
  padding: 10px;
  align-items: center;
}

.header h1 {
  /* background: url('https://ibin.co/w800/4JbdZFwuH3wR.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left; */
  /* background: #CF0C0C; */
  width: 40%;
  text-transform: uppercase;
  padding: 0 50px;
  font-size: 90px;
  margin-top: 20px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.header nav {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  font-size: 20px;
  /* background: #CF0C0C; */
}
.header a {
  color: white;
  margin: 20px;
  text-decoration: none;
}

.header i{
  margin: 0 5px;
}

.Smurfs {
  text-align: center;
  margin: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.Smurfs h1 {
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: #CF0C0C;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.Smurfs .smurf-collection {
  width: 100%;
  width: 90%;
  display: flex;
  margin: 0 auto;
  diplay: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.smurf-container {
  margin: 0 10px;
}

.Smurf{
  margin: 0 auto;
  margin: 20px auto;
  padding: 20px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  border: 3px solid white;
  justify-content: space-between;
  border-radius: 5px;
  background: white;
  color: red;
  box-shadow: 3px 5px 3px rgba(0,0,0,0.3);
}

.Smurf .buttons {
  display: flex;
  justify-content: space-between;
}

.smurf-container .button {
  /* background: #CF0C0C; */
  padding: 10px;
  color: white;
  color: #CF0C0C;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 3px;
  margin: 5px;

}



.Smurf  .icon {
  border: 3px solid white;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  padding: 5px;
  display: flex;
  margin-top: -40px;
  justify-content: center;
  align-items: center;
  align-self: center;
  background: #288ed7;

  /* background: #CF0C0C; */
}

.Smurf .icon .smurf{
  margin: 0;
  fill: white;
}

.Smurf h3 {
  margin: 0;
  line-height: 1.5;
  font-size: 24px;
}

.Smurf p {
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
}

.SmurfForm {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 10% auto;
  justify-content: space-between;
}

.SmurfForm input{
  margin: 10px;
}

.SmurfForm button{
    background: #CF0C0C;
    padding: 10px;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 10px;
}

.welcome {
  margin-top: 10%;
}
