.App {
  text-align: center;
  max-width: 900px;
  min-height: 70vh;
  background: rgba(136, 178, 247, .7);
  margin: 40px auto 0 auto;
}

.smurfs-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  
}

.Smurf {
  width: 500px;
  border: 1px solid rgb(231, 232, 236);
  margin-bottom: 20px;
  height: 180px;
  transition: all .2s ease-in-out; 
  border-radius: 2px;
  color: #38404c;
  background: rgba(231, 232, 236, .2);
}

.Smurf:hover {
  transform: scale(1.1);
  background: rgba(231, 232, 236, .4);
  cursor: pointer;
}

.Smurf h3 {
  color: black;
  font-size: 2.3rem;
  margin-bottom: 20px;
  margin-top: 10px;
}

/* Nav Link */
.nav-link {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  border: 1.5px solid #38404c;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 3px;
  transition: all .2s ease-in-out; 
}

.nav-link:hover {
  transform: scale(1.05);
}


/* Smurf Form */
.SmurfForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.SmurfForm form input:first-child {
  margin-top: 60px;
}

.SmurfForm form input {
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 500px;
  margin-bottom: 20px;
  
}

.SmurfForm form button {
  margin-bottom: 60px;
  background-color: #51b4ff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.SmurfForm form button:hover {
  background: rgb(81, 180, 255, .3);
  color: black;
}


/*Smurf delete button */

.btn-delete {
  margin-bottom: 15px;
  margin-top: 10px;
  background-color: #ff9999;
  border: none;
  color: #fff;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.btn-delete:hover {
  background:  #ffcccc;
  color: black;
}