.App {
  text-align: center;
}

.Smurf{
  background-color: lightblue;
  width: 200px;
  display: inline-block;
  margin-left: 5px;
}

.navlink {
  display: flex;
  justify-content: space-evenly;
  font-size: 2em;
  height: 50px;
  text-decoration: none;
  background-color: dodgerblue;

}
.navlink NavLink {
  text-decoration: none;
} 