.App {
  text-align: center;
}

.navbar {
  margin: 0;
  padding: 0;
  height: 64px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar > li > a {
  color: #4285f4;
  text-decoration: none;
  padding: 24px;
  height: 16px;
}

.navbar > li > a.activeNavButton {
  background-color: #4285f4;
  color: white;
}

h1 {
  color: #4285f4;
}

.Smurfs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Smurf {
  margin: 15px auto;
  width: 180px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background-color: #4285f4;
}
