.App {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.nav {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  margin-bottom: 3rem;
}

a,
a:visited {
  color: #000;
  margin-right: 3rem;
  text-decoration: none;
}

.active {
  text-decoration: underline;
}
