.App {
  text-align: center;
}

.nav {
  background-color: lightcyan;
  padding: 30px;
}

.nav-link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  margin: 0 20px;
  color: black;
  padding: 3px 0;
}

.nav-link:hover {
  border-bottom: 1px solid black;
}

.Smurf {
  border: 1px solid black;
  width: 200px;
  margin: 20px ;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.village {
  margin: 40px auto 10px;
  font-weight: 500;
  font-size: 24px;
}

.SmurfForm {
  margin: 40px auto;
}

input {
  font-size: 18px;
  padding: 10px;
  margin: 0 10px;
}

button {
  font-size: 16px;
  padding: 10px;
}

.smurf-btns {
  display: flex;
  justify-content: space-evenly;
}

.smurf-btn {
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px;
  width: 50px;
  margin-bottom: 20px;
  cursor: pointer;
}

.smurf-btn:hover {
  background-color: lightcyan;
}