.App {
    text-align: center;
}

.Smurf {
    border: 4px solid rgb(114, 193, 224);
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: rgb(199, 237, 252);
    box-shadow: 3px 5px 10px 2px #888888;
    transition: transform 0.3s linear;
}

.Smurf:hover {
    transform: scale(1.1) rotate(-2deg) translate(20px, 10px);
    background-color: rgb(146, 202, 224);
}

.SmurfForm {
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: rgb(199, 237, 252);
    border: 4px solid rgb(114, 193, 224);
    box-shadow: 3px 5px 10px 2px #888888;
}

h1 {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 6px;
    font-weight: bold;
    background-color: rgb(199, 237, 252);
    border: 6px solid rgb(114, 193, 224);
    box-shadow: 3px 5px 10px 2px #888888;
    margin-bottom: 20px;
}

.input {
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(114, 193, 224);
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: black;
    border-radius: 10px;
    background-color: rgb(199, 237, 252);
    border: 4px solid rgb(114, 193, 224);
    box-shadow: 3px 5px 10px 2px #888888;
}