.App {
  text-align: center;
}

.link {
  padding: 0 30px;
  color: black;
  text-decoration: none;
}

.link:hover {
  color: gray;
  text-decoration: none;
  font-weight: 600;
}

.Smurf {
  border: 1px solid lightgray;
  width: 300px;
  padding: 15px 0px;
  background-color: #fafafa;
  border-radius: 5px;
}

.Smurfs ul {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.SmurfForm {
  border: 1px solid lightgray;
  background-color: #fafafa;
  border-radius: 5px;
  width: 500px;
  height: 400px;
  margin: 70px auto;
  padding: 30px;
}

.SmurfForm form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.SmurfForm button {
  border-radius: 3px;
}

.SmurfForm button:hover {
  background-color: lightgray;
  cursor: pointer;
}