.App {
  text-align: center;
}

.SmurfForm {
  margin: 2% auto;
  display: flex;
  flex-flow: column;
}

.SmurfForm--top {
  margin: 10px 0;
}

.SmurfForm--mid {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px;
}

.SmurfCard {
  margin: 20px auto;
}

.SmurfAttr {
  margin-bottom: 10px;
}

.SmurfAttr :first-child {
  margin-bottom: 7px;
}

.Card__buttons {
  display: flex;
  justify-content: space-around;
  width: 20%;
  margin: auto;
}

.Module__body {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.Module__middleInput {
  margin: 5px 0;
}
