html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 32px;
  font-size: 20px;
  background: #444444;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: #efefef;
}

nav a.active {
  border-bottom: 1px solid #efefef;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input {
  width: 240px;
  height: 30px;
  margin: 5px 0;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 18px;
}

button {
  height: 40px;
  width: 200px;
  color: #444444;
  background: seashell;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}