body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(https://typeset-beta.imgix.net/rehost/2016/9/23/980ba326-ac15-4189-a0b5-fd1246a813f8.png);
  background-size: 120%;
}
