body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: lightgray;
}

.smurf-form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 300px;
  margin-top: 20px;
}

.smurf-form input {
  margin-bottom: 15px;
}

button {
  margin-top: 20px;
}

.btn {
  margin: 10px 10px;
}

.delete {
  background: rgb(141, 38, 38);
  width: 100px;
  align-self: center;
}

.update {
  background: rgb(136, 204, 136);
  width: 100px;
  align-self: center;
}

.card {
  width: 300px;
  background: #f6f3f3;
  margin: 20px 20px;
}

.Smurf {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  background: rgb(42, 41, 41);
  color: white;
}