body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App{
  width: 100%;

}
header {
  height: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:  no-repeat url('./images/smurfs-village2.jpg') ;
  background-size: cover;
  background-position: center;
  box-shadow: 3px -2px 10px 5px;
  z-index: 10;
  
}

header h1{
  font-size: 250px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 1px 1px 2px black;
}

nav {
  width: 100%;
  background: rgb(22, 189, 240);
  font-size: 35px;
  height: 50px;
  margin-top: 5px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  justify-content: space-around;

}

nav a {
  text-decoration: none;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.Smurfs-page {
  display: flex;
  width: 100%;
  position: relative;
  
}
.smurfs-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.smurf-container {
  perspective: 700;
  margin: 20px;
  cursor: pointer;
  
}
.Smurf{
  transition: 0.5s;
  transform-style: preserve-3d;
  position: relative;
  width: 280px;
  height: 280px;
}
/* .Smurf:hover{
  transform: rotateY(180deg);
} */

.flip{
  transform: rotateY(180deg);
}
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 280px;
  background: rgb(22, 189, 240);
  color: white;
  transition: all .6s ease-in-out;
  transform-style: preserve-3d;
  border-radius: 5px;
  text-align: center;
  font-size: 30px;
  border: black solid 10px;
  border-radius: 50%;
  
}
 .back {
  transform: rotateY(180deg);
} 

/* .front:hover {
  transform: rotateY(180deg);
}

.back:hover {
  transform: rotateY(180deg);
} */

.flip {
  transform: rotateY(180deg);
}




