body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./images/smurfs.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
