body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  max-width: 1000px;
  text-align: center;
  background: black;
  color: white;

}

button {
  width: 150px;
  height: 20px;
  border: 0px;
  font-size: 18px;
  margin-top: 20px;
  border-radius: 20px;
  color: white;
  background: black;
  padding-bottom: 20px;
  cursor: pointer;
}


a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 16px;
  border: 2px solid blue;
  border-radius: 20px;
  color: white;
  padding: 10px;
  margin: 30px;
  width: 150px;
}

form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-left: 45px;
}

input {
  padding: 10px;
  margin: 20px;
  border: 5px solid white;
  border-radius: 20px;
  width: 150px;
  height: 15px;
  text-align: center;
  background: white;
  color: blue;
  font-size: 16px;
}

