body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: lightblue;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.SmurfForm {
  margin-top: 20px;
  margin-bottom: 20px;
}

.Smurfs {
  background-color: rgb(190, 190, 190);
  padding-top: 10px;
  padding-bottom: 20px;
}

/* entire container, keeps perspective */
.flip-container {
  width: 20%;
  min-width: 220px;
  height: 150px;
  margin: 20px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
}

/* flip speed goes here */
.flipper {
	transition: 2s;
	transform-style: preserve-3d;
  padding: 0;
  margin: 0;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.back img {
  height: 150px;
  border-radius: 20px;
}