.app-navigation-top {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    text-align: center;
    background-color: #00ADF1;
    color: white;
    padding: 50px;
}
.navigation-image {
    width: auto;
    height: auto;
}