.link-home {
    color: inherit;
    text-decoration: none;
}
.link-home:visited {
    color: white;
}
.link-village {
    color: inherit;
    text-decoration: none;
}
.link-village:visited {
    color: white;
}
.link-goodbye {
    color: inherit;
    text-decoration: none;
}
.link-goodbye:visited {
    color: white;
}
.app-navigation-top {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    text-align: center;
    background-color: #00ADF1;
    color: inherit;
    padding: 30px;
}
