.nav-bar {

  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: #cdcdcd;

  a {

    text-decoration: none;
    color: grey;
    padding: 0 20px;

    &:hover {

      color: black;

    }

  }

}
