
.smurf-card {
    min-width: 800px;
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2%;
    border: 1px solid #88CCFF;
}

.smurf-card-links {
    min-width: 800px;
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border: 1px solid #88CCFF;
}
.delete-smurf-button {
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.6rem;
    color: red;
}
