.page-container {

  display: flex;
  justify-content: center;

}

.smurf {

  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 6px;
  width: 300px;
  position: relative;
  background-color: #dddddd;

  .delete-btn {

    position: absolute;
    top: 10px;
    right: 10px;

    &:hover {

      color: green;

    }

  }

  button {

    cursor: pointer;

  }

}
