.smurf-wrapper {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    
}

.village-image {
    border: 1px solid orange;
    background-size: cover;
    height: 300px;
    width: 800px;
    margin: 0 auto;
}

.smurf-button {
    border: 1px solid yellow;
    height: 50px;
    width: 100px;
    cursor: pointer;

}

.Smurfs {
    border: 1px solid green;

}

.SmurfForm {
    border: 1px solid blue;

}