.Smurfs {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.Smurfs ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
.Smurfs ul a {
  text-decoration: none;
  color: #222;
}

.Smurfs button {
  font-size: 16px;
}

.Smurf {
  /* background: #3db7eb; */
  box-shadow: #3297c2 2px 2px 7px;
  min-width: 200px;
  color: #f1f1f1;
  width: 30%;
  padding: 25px;
  margin: 40px 0 10px;
}

.Smurf h2 {
  color: #222;
}
