.Smurf{
    display : inline-block;
    background-color: none;
    border: 0;
    box-shadow:  2px 2px 10px 2px #10BEFD;
    padding: 1rem;
    cursor: pointer; 
    position: relative;
    margin: 1.1rem;
    width : 250px;
    text-align: left;
    padding-left : 30px;
}

img{
    width : 1000px;
    height : 200px;
}



.form-div{
    background: #223b4e;
    padding : 40px;
    max-width:500px;
    margin : 30px auto;
    border-radius: 6px;
    box-shadow:0 4px 10px 4px #13232f;
    font-family: 'Titillium Web', sans-serif;
    color : white;
}

input {
    margin : 10px;
    padding : 8px;
    width : 350px;
    font-size : 16px;
 }

 button {
    border: 0;      
      padding : 5px;
      font-size:1rem;
      letter-spacing : .1em;
      background : #1ab188;
      color : white;
      transition:all.5s ease;
      display : block;
      width : 200px;
      margin-top: 40px;
      margin-left: 160px;
      border-radius: 5px;
      cursor: pointer;
  }
  
  .location{
        margin-left : 920px;
        width : 100px;
        margin-bottom : 20px;     
  }

  .close-div {
    margin-left : 230px;
    cursor: pointer;
  }