.Smurf{
    display : inline-block;
    background-color: rgb(182, 228, 218);
    border: 0;
    box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
        0 2px 4px rgba(0, 0, 0, 0.24);
    padding: 1rem;
    /* cursor: pointer; */
    position: relative;
    margin: 1.5rem;
    width : 300px;
    text-align: left;
    padding-left : 30px;
}