.SmurfForm {
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 25%
}

form h1:hover {
    text-shadow: 0 0 10px blue;
}

input {
    margin: 15px 0;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border: 1px solid black;
}

button {
    background: black;
    color: white;
    padding: 20px 0;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 7px;

}

button:hover {
    background: grey;
    border: 2px solid red;
}

.smurfBtn {
    background: black;
    color: white;
    padding: 20px 0;
    border-radius: 10px;
    font-size: 18px;
    width: 300px;
}



.Smurf {
    border: 1px solid black;
    margin: 15px;
}

.Smurf:hover {
    background: wheat;  
}